@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ffffff;
  --text: #000000;
}

[data-theme='dark'] {
  --bg: #1f2937;
  --text: #f9fafb;
}

body {
  background-color: var(--bg);
  color: var(--text);
}
